/* =========================================== */
/* ==== TABLE STYLE FOR PUBLICATIONS LIST ==== */
/* =========================================== */
.table, tr, td {
  border:1px solid #ffffff;
  border-collapse: collapse;
  text-align: justify;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

th:nth-child(even),td:nth-child(odd) {
    font-size: 25pt ;
    font-weight: bolder;
    color: #ff8888;
    padding-left: 5rem;
    width:10%;
}

th:nth-child(even),td:nth-child(even) {
    font-size: 16;
    color: #627582;
    padding-left: 1rem;
    padding-right: 5rem;
    width:90%;
    line-height: 1.8;
    text-align: justify;
}
/* =========================================== */


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #ffffff;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #627582;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 16px;
  position: sticky;
    top: 0;
}

/* Change the color of links on hover */
#navbar a:hover {
  background-color: #ffffff;
  color: #627582;
  font-size: 20px;
}

/* Add a color to the active/current link */
#navbar a.active {
  background-color: #ffffff;
  color: #ff8888;
  font-size: 16px;
  font-weight: bolder;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}



/* ==== HOVER SATURATION EFFECT ==== */
.color img{
filter: grayscale(50%);
opacity: 0.4;
-webkit-filter: grayscale(50%);
-webkit-transition: all 1s ease;
}

.color img:hover{
opacity: 0.8;
filter: grayscale(0%);
filter: gray;
-webkit-filter: grayscale(0%);
filter: none;
transition: 1s ease;
}


/* ==== HOVER GROW EFFECT ==== */
.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}






.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.bigtextcenter {
  color: #627582;
  font-size: 30px;
  text-align: center;
}

.smalltextcenter {
  color: #627582;
  font-size: 15px;
  text-align: center;
}

.pubno {
  color: #627582;
  font-size: 15px;
  padding: 5em 5rem;
  line-height: 1.8;
  text-align: justify;
}

.publist {
  color: #627582;
  font-size: 15px;
  padding: 5rem;
  line-height: 1.8;
  text-align: justify;
}


div.container {
      display:inline-block;
    }

    p {
      text-align:center;
    }