---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;
.wideimage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
}

body {
    margin: 0;
}
.fullimage {
    width: 100vw; /* Make the image fill the width of its container */
    height: auto; /* Maintain aspect ratio */
    margin: 0;
}

.text150 {
  font-size: 150%;
}
